beautifulsoup4
duckdb
fastapi
google-generativeai==0.8.3
html5lib
httpx
langchain==0.2.16
langchain-core==0.2.9
langchain-google-genai==1.0.7
lxml
matplotlib
networkx
numpy
openpyxl
pandas
pillow
psutil
pydantic==2.7.4
python-dotenv
python-multipart
pyarrow
requests
scikit-learn
seaborn
tabulate
uvicorn[standard]
